@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="movie-container">
	<video controls crossorigin playsinline poster="https://camo.githubusercontent.com/3dffc2a3c3f149116b869cf8f75e1d4879ae78d6754a1e833bb8f27903b1c126/68747470733a2f2f692e696d6775722e636f6d2f594b35343949612e706e67">
		<source src="https://00f74ba44be66819d16d576cdbdeeda15ed9e5472d-apidata.googleusercontent.com/download/storage/v1/b/vvtas/o/tm873126_LAT_HD_V2?jk=AFshE3Xr9kW_bhVIKpAmzQ4M-9z-6VXbnUaPWMHRhXinu-2soNrfP2rmK5Ud1uNj77L549dCJ4_g_8-ldw5MOVLStPqizEjprt4gAFHy7JazAFWv__cr5YLagsfzvOcrICqHVbqrQH-DdLGDhbzJzoXfVkyxbSXsZeM9urKg5PfFiydeR4pWMixyUonkKSRr5fKxkc7Y2s2z9qztM8FwL5nqLbqxaZXSCv25PFE4KE9cNqYzEPmCGHYT2ksw3-cOgYv3ylsDHnCttSXoafMwXqLnLoKobMhZqL0YYHVwtGtRVXM3Qt_5OjIR-DiUxiBZQ7ax6KqspHxePhitiBWk59nljSmgmDQ0PtwuCNjsf5aPkJ_zyPfSYyprKSdtCrY3to7x4PGL9BdhxOC-wYXnXfruNT1SbWpBj4Y2YQRVSFORcLVn_Vq3U_ddRWRgI_gN7oNLsBEAxrntnW1UnDPgMRkUSgsqqxU_j7_GGcKr4n8V9RgiMI1DqGDKkXUYmY97Qh7hbpbknt34d2uHLsDdcBJ86rbS4pDB3oleg6_ZqTIjaSUBG8ruUgcGWtk5uUrlbCNsjjAb7GOSaHs2R9fwz5msjc_4SHhuGr_GKF3k8S3VYdzyCEwGLeOrZ4Cwq4XYLpS_knwtYfRUHq0yicAq-ojeATLL_r2Uyc54pglzLom08nXTA4r7ed5uBI7Qrlh08N3MMyfB88EaYo-RrgkLjRI6MGnYgTXuh4xaOkdCZ8ChQICrckX1Rj9WqYMqMBEXlItrSlQ8FOuXYi-8JcXnOZmb6uAkFCqjLcgapepawurFhd8VOuXpoVwAYIBIgoWLJnGBkxz_Er2VZG819oeeYAxdRfFk6sl6XOXUY8h6zyXP2uzCjRMTGd6v1r91FMwuEoCeda8PtKSGh7DCU_wXKc9muwpt26tv-sD7NKI0e6eZHR83-cCil5j7MnsGOFB5fxYDSS13apmZutGTQ5rFCyhi_XLLRnIQOSjHXDchOr1yHxbxJy5yL3Ko4RpSrwwYSpVO1DU6ctwSbiYMgNs4SXmKfnbBkX_dAiQVWpocv0_PcPS1VhPTJm7vfZOty1YTIrRcblBlKe_9OxtfVIjKsOvXsbdjEfColB_tMADn4cnh9O1Cgt3gWZW6N0ObEnjGkjL3naRwzQ5khYcFf9jREZZAvxxpHq0JsuN7G3U_VA7zayOruj0kpOTRMg&isca=1" type="video/mp4">
	</video>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
